<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container search">
    <div class="row">
        <div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">

                        <ui-select allow-clear ng-model="document.selected" theme="bootstrap">
                            <ui-select-match placeholder="Selecteaza documentul..">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices ui-disable-choice="!document.documents" repeat="document in documents | filter: $select.search">
                                <span ng-bind-html="document.name | highlight: $select.search"></span>
                                <small ng-bind-html="document.info | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>

                        <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.person.selected = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="document.selected" class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div ng-include="'app/main/checkpoints/checkpoints.html'"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div ng-include="'app/main/map/map.html'"></div>
        </div>
    </div>
</div>
<!--
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
-->
